* {
	word-wrap: break-word
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

body,
button,
input,
select,
td,
textarea,
th {
	font-family: Quicksand, sans-serif, SimSun, Microsoft Yahei, Hiragino Sans GB, Helvetica Neue, Helvetica, tahoma, arial, Verdana, sans-serif, WenQuanYi Micro Hei, "\5B8B\4F53";
	font-size: 12px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body {
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	place-items: center;
	min-height: 95vh;
	background-color: rgb(218, 232, 245);
	background-attachment: fixed;
	background-size: cover;
	background: url(https://vip.helloimg.com/i/2024/06/21/6675170e293d3.jpg);
}

.release {
	position: relative;
	border-radius: 10px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
}

.release-body .image {
	text-align: center;
}

.release-body {
	background: #fff;
	border-radius: 30px;
	margin-top: 80px;
	box-shadow: 0px 5px 50px 0px #96caf7, 0px 0px 0px 7px rgba(3, 239, 42, 0.538);
}

.release-body .image img {
	border-radius: 50%;
	width: 100px;
	padding: 1px;
	background-color: #fff;
	margin-top: -50px;
	box-shadow: 0 0 8px 0 rgba(214, 204, 204, 0.15);
	box-shadow: 0px 5px 50px 0px #4ba4f1, 0px 0px 0px 7px rgba(74, 149, 255, 0.538);
}

.release-body .title {
	padding: 30px 0;
	text-align: center
}

.release-body .title h2 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0;
	color: #474747
}

.release-body .title p {
	font-size: 19px;
	padding-top: 20px;
	color: #676767;
	letter-spacing: 2px
}

.release-main .links {
	overflow: hidden;
	padding: 15px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #e1dfdf;
}

.release-main .links ul {
	display: block
}

.release-main .links ul li {
	list-style: none;
	width: 30%;
	text-align: center;
	padding: 10px 0;
	margin: 0 1.666%;
	float: left
}

.release-main .links ul li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 12px 0;
	font-size: 18px;
	color: #fff;
	margin: 2px;
	border-radius: 34px;
	transition: all .3s ease;
	letter-spacing: 2px;
	font-weight: 700;
	background: linear-gradient(90deg, #0d9ffa,
			#0454a0,
			#11a0ff,
			#2c91f6);
	background-size: 400%;
	position: relative;
	z-index: 1
}

.release-main .links ul li a:hover {
	animation: animate 8s linear infinite
}

.release-main .links ul li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: linear-gradient(90deg, #0d9ffa, #0454a0, #11a0ff, #2c91f6);
	background-size: 200%;
	border-radius: 40px;
	transition: .5s;
	opacity: 0;
	width: 100%;
	height: 100%
}

.release-main .links ul li a:hover:before {
	filter: blur(10px);
	opacity: 1;
	animation: animate 8s linear infinite
}

@keyframes animate {
	0% {
		background-position: 0
	}

	to {
		background-position: 400%
	}
}

.release-main .links a:last-child {
	border-right: 0
}

.release-main .tips {
	text-align: center;
	padding: 30px 0 20px
}

.release-main .tips p {
	font-size: 12px;
	color: #959595;
	letter-spacing: 2px;
	margin-bottom: 10px;
	line-height: 30px
}

.release-main .tips p b {
	color: #353535;
	padding: 4px;
	margin: 5px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #eaeaea
}

footer {
	text-align: center;
	padding: 20px 0;
	border-radius: 20px;
	margin: 20px 0;
	background-color: #fff3cd;
	border: 1px solid #ffc400;
	box-shadow: 0px 5px 50px 0px #b977f749, 0px 0px 0px 7px rgba(113, 55, 247, 0.538);
}

footer p {
	margin-bottom: 0;
	color: #856404;
	letter-spacing: 1px;
	font-size: 16px
}

.profile-card-inf {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-top: 35px;
}

.profile-card-inf__item {
	padding: 10px 35px;
	min-width: 150px;
}

@media screen and (max-width: 768px) {
	.profile-card-inf__item {
		padding: 10px 20px;
		min-width: 10px;
	}
}

.profile-card-inf__title {
	font-weight: 1000;
	font-size: 27px;
	color: #324e63;
}

.profile-card-inf__txt {
	font-weight: 500;
	margin-top: 7px;
}

@media screen and (max-width:550px) {
	.release-body .image img {
		width: 80px;
		margin-top: -40px
	}

	.release-body .title {
		padding: 25px 0
	}

	.release-body .title h2 {
		font-size: 24px
	}

	.release-body .title p {
		font-size: 14px;
		letter-spacing: .8px;
		padding-top: 15px
	}

	.release-main .links ul li {
		width: 30.555%
	}

	.release-main .links ul li:nth-child(3n) {
		margin-right: 0;
	}

	.release-main .links ul li a {
		font-size: 16px;
		font-weight: 400;
		border-radius: 20px;
		letter-spacing: 2px
	}

	.release-main .tips {
		padding: 20px 20px 10px
	}

	.release-main .tips p {
		font-size: 14px
	}

	footer p {
		letter-spacing: 0;
		font-size: 13px
	}
}